<div class="col-md-8 col-md-offset-2">
	<div class="text-center"><h2>Помощь</h2></div>
	<div class="col-md-4">
		<div class="text-left"><h3>Вопросы по магазину</h3></div>
		<ul class="help" style="list-style-type:none">
			<li id="order">Заказ</li>
			<li id="shipping">Доставка</li>
			<li id="payment">Оплата</li>
			<li id="turnback">Возврат</li>
		</ul>
		<div class="text-left"><h3>Полезная информация</h3></div>
		<ul class="help" style="list-style-type:none">
			<li id="company">О компании</li>
			<li id="contacts">Контакты</li>
			<li id="jobs">Вакансии</li>
		</ul>
	</div>
	<div class="col-md-8">
		<div class="help-bar" id="order-bar">
			<div class="text-left"><h3>Заказ</h3></div>
			<div class="text-left">
				Чтобы заказать товар в нашем интернет-магазине, Вы должны добавить его в свою виртуальную  корзину, нажав кнопку «Добавить в корзину» на странице необходимого товара (предварительно выбрав количество, если требуется более одной единицы). После того как Вы добавите в корзину все что хотите приобрести, Вам следует зайти в меню корзины, нажав на её изображение в верхней части сайта. Там будет список всех товаров,  которые вы туда добавили.  У Вас будет возможность его отредактировать. После этого вам следует нажать на кнопку «Оформить заказ» и заполнить представленную форму. Вскоре после этого наш сотрудник свяжется с вами для уточнения заказа и ответит на возникшие вопросы, если они у Вас будут.<br>
			</div>
		</div>
		<div class="help-bar" id="shipping-bar">
			<div class="text-left"><h3>Доставка</h3></div>
			<div class="text-left">
				Кроме возможности забрать товар из нашего офиса самостоятельно, мы осуществляем доставку по Алматы и Астане. Если Вы хотите заказать доставку, то Вам следует указать это при оформлении заказа, оставив адрес на который необходимо доставить заказ. <br>
			</div>
		</div>
		<div class="help-bar" id="payment-bar">
			<div class="text-left"><h3>Оплата</h3></div>
			<div class="text-left">
				Оплата товара происходит в момент его получения в нашем офисе, либо после его доставки по указанному Вами адресу. В данный момент доступна только оплата наличными.<br>
			</div>
		</div>
		<div class="help-bar" id="turnback-bar">
			<div class="text-left"><h3>Возврат</h3></div>
			<div class="text-left">
				<br>
			</div>
		</div>
		<div class="help-bar" id="company-bar">
			<div class="text-left"><h3>О компании</h3></div>
			<div class="text-left">
				Техцентр – один из самых крупных поставщиков печатного и после печатного оборудования, а так же  расходных материалов и презентационного оборудования в Казахстане.<br>
				Компания основана в 1992 году. Наш огромный опыт работы позволил нам построить эффективную компанию, которая постоянно развивается и быстро решает все проблемы  клиентов: от поставок и модернизации офисного оборудования до технического обслуживания. Мы гарантируем адекватные рыночной ситуации цены на всю номенклатуру в нашей компании.<br>
				Сотрудничая с ТОО "Техцентр" Вы получаете в первую очередь стабильного надежного компаньона, который уверенно смотрит в будущее и пережил не один кризис вместе со своими покупателями.
				На сегодняшний день у нас самый большой склад продукции на территории Казахстана. Это гарантирует фактически постоянное наличие товара в ассортименте, доставку и при необходимости поставку любого заказа в возможно кратчайшие сроки.<br>
				Наша специализация - оптово-розничные продажи оборудования, сервис-центр и услуги полиграфии.
				На данный момент мы являемся официальными партнерами таких всемирно-известных компаний как «Xerox», «Konica Minolta», «ACCO Brands» (GBC, Rexel, Nobo, Kensington), «Mondi»<br>
			</div>
		</div>
		<div class="help-bar" id="contacts-bar">
			<div class="text-left"><h3>Контакты</h3></div>
			<div class="text-left">
				<h4>Алматы</h4><br>
				<span style="font-size: 16px; font-weight: bold;">Торговый зал:</span><br>
				<b>Тел.:</b> 8(727) 273-84-82, 273-11-79<br>
				<span style="font-size: 16px; font-weight: bold;">Отдел продаж:</span><br>
				<b>Тел.:</b> 8(727) 271-02-46, 273-11-79<br>
				<b>E-mail:</b> sales@techcentre.kz<br>
				<span style="font-size: 16px; font-weight: bold;">Линия для партнеров:</span><br>
				<b>Тел.:</b> 8(727) 271-49-82, 273-84-82<br>
				<b>E-mail:</b> partner@techcentre.kz<br>
				<span style="font-size: 16px; font-weight: bold;">Проектный отдел:</span><br>
				<b>Тел.:</b> 8(727) 273-90-61, 271-49-79<br>
				<span style="font-size: 16px; font-weight: bold;">Сервисный центр:</span><br>
				<b>Тел.:</b> 8(727) 273-21-18, 271-02-45<br>
				<b>E-mail:</b> service@techcentre.kz<br>
				<b>Адрес:</b> г. Алматы, ул. Абылай Хана 56, уг.. ул. Макатаева<br>
				<b>Факс:</b> 8(727) 271-02-44<br>
				<b>E-mail:</b> info@techcentre.kz<br>
				<b>ICQ:</b> 614700692<br>
				<h4>Астана</h4><br>
				<span style="font-size: 16px; font-weight: bold;">Торговый зал:</span><br>
				<b>Тел:</b> 8(7172) 688-001<br>
				<span style="font-size: 16px; font-weight: bold;">Отдел продаж:</span><br>
				<b>Тел.:</b> 8(7172) 688-005<br>
				<b>E-mail:</b> sales_astana@techcentre.kz<br>
				<span style="font-size: 16px; font-weight: bold;">Линия для партнеров:</span><br>
				<b>Тел.:</b> 8(7172) 688-002<br>
				<b>E-mail:</b> partner_astana@techcentre.kz<br>
				<span style="font-size: 16px; font-weight: bold;">Сервисный центр:</span><br>
				<b>Тел.:</b> 8(7172) 688-003<br>
				<b>E-mail:</b> service_astana@techcentre.kz<br>
				<b>Адрес:</b> г. Астана, пр.Туран 9 (ЖК «Изумруд»)<br>
				<b>Факс:</b> 8(7172) 688-004<br>
				<b>E-mail:</b> info@techcentre.kz<br>
				<b>ICQ:</b> 614700692<br>
			</div>
		</div>
		<div class="help-bar" id="jobs-bar">
			<div class="text-left"><h3>Вакансии</h3></div>
			<div class="text-left">
				Обновление - июнь 2016 г.<br>
				E-mail для резюме - info@techcentre.kz <br>
				Телефон: 8-727-273-10-58<br>
				<br>
				<b>Менеджер по прямым продажам / Торговый представитель (Алматы)
				Обязанности:</b><br>
				* презентация товара<br>
				* привлечение и переговоры с заказчиками<br>
				* поиск новых клиентов<br>
				* продажа продукции<br>
				* выполнение планов продаж<br>
				Требования:<br>
				* высшее или среднее специальное/техническое образование<br>
				* опыт работы в сфере продаж (желателен)<br>
				* при отсутствии опыта работы по данной вакансии (обязательное прохождение стажировки)<br>
				* исполнительность<br>
				* ответственность и целеустремленность<br>
				* коммуникабельность<br>
				* активность и желание учиться (быстрая обучаемость)<br>
				* презентабельность<br>
				* хорошая грамотная речь<br>
				* наличие личного авто (желательно!)<br>
				Условия:<br>
				* 80% рабочего времени вне офиса (на выезде)<br>
				* трудоустройство по ТК РК (пятидневка / оплачиваемый отпуск)<br>
				* частично бесплатное питание (90% за счет компании)<br>
				* обучение<br>
				* компенсация ГСМ и амортизации или дорожных<br>
				* дальнейший карьерный рост с повышением оплаты<br>
				* заработная плата: оклад  и %<br>
				<br>
				<b>Инженер сервисного отдела (Алматы)
				Обязанности:</b><br>
				* инсталляция, ремонт и обслуживание оргтехники<br>
				* инсталляция и настройка программного обеспечения.<br>
				* поддержка и консультация клиентов по эксплуатации и ремонту оборудования<br>
				* выезды к клиентам, консультирование клиентов по техническим вопросам<br>
				Требования:<br>
				* высшее техническое образование<br>
				* опытный пользователь ПК<br>
				* знание схемотехники<br>
				* опыт работы с офисным и полиграфическим оборудованием<br>
				* опыт работы с паяльным оборудованием<br>
				* ответственность<br>
				* умение работать руками<br>
				* наличие автомобиля<br>
				* английский язык - на уровне понимания специализированной литературы<br>
				Условия:<br>
				* 80% рабочего времени вне офиса (на выезде)<br>
				* трудоустройство по ТК РК (пятидневка / оплачиваемый отпуск)<br>
				* частично бесплатное питание (90% за счет компании)<br>
				* обязательное обучение по повышению квалификации<br>
				* компенсация ГСМ и амортизации<br>
				* заработная плата: оклад  и %<br>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function(){
		$('.help-bar').hide();
		var type = window.location.hash.substr(1);
		switch (type) {
			case 'company': {
				$('#company-bar').show(250); 
				break;
			}
			case 'contacts': {
				$('#contacts-bar').show(250); 
				break;
			}
			case 'jobs': {
				$('#jobs-bar').show(250); 
				break;
			}
		}
		$('#order').click(function(){
			$('.help-bar').hide();
			$('#order-bar').show(250);
		});
		$('#shipping').click(function(){
			$('.help-bar').hide();
			$('#shipping-bar').show(250);
		});
		$('#payment').click(function(){
			$('.help-bar').hide();
			$('#payment-bar').show(250);
		});
		$('#turnback').click(function(){
			$('.help-bar').hide();
			$('#turnback-bar').show(250);
		});
		$('#company').click(function(){
			$('.help-bar').hide();
			$('#company-bar').show(250);
		});
		$('#contacts').click(function(){
			$('.help-bar').hide();
			$('#contacts-bar').show(250);
		});
		$('#jobs').click(function(){
			$('.help-bar').hide();
			$('#jobs-bar').show(250);
		});
	});
</script>
