<div class="well">
	<div class="form-group">
		<input class="form-control" tabindex="1" pattern="^[А-я ]+$" data-error="Неверное имя города" placeholder="Город" type="text" name="city"/>
		<div class="help-block with-errors"></div>
	</div>
	<div class="form-inline">
		<div class="form-group">
			<input class="form-control" size="30" tabindex="1" pattern="^[А-я -]+$" data-error="Неверное имя улицы" placeholder="Улица" type="text" name="street"/>
			<div class="help-block with-errors"></div>
		</div>
		<div class="form-group">
			<input class="form-control" size="10" tabindex="1" pattern="^\d+$" data-error="Неверный номер дома" placeholder="Дом" type="text" name="building"/>
			<div class="help-block with-errors"></div>
		</div>
		<div class="form-group">
			<input class="form-control" size="10" tabindex="1" pattern="^\d+$" data-error="Неверный номер квартиры" placeholder="Квартира" type="text" name="flat"/>
			<div class="help-block with-errors"></div>
		</div>
	</div>
</div>