<br>
<footer class="black footer">
	<div class="container">
	<div class="row" style="padding-top: 5px;">
		<div class="col-md-3">
			<ul class="footer" style="list-style-type:none">
					<li><a href="/help#company">О нас</a></li>
					<li><a href="/help#jobs">Вакансии</a></li>
					<li><a href="/help#contacts">Контакты</a></li>
					<li><a href="http://www.techcentre.kz/">Techcentre.kz</a></li>
					<br/><br/>
					<li>ТОО "ТехЦентр" (с)2016</li>
			</ul>
		</div>
		<div class="col-md-4">
			<table style="margin-bottom: 5px;">
	    		<div class="text-left" style="font-size: 18px; color: #aaaaaa;">Контактная информация</div>
	    		<hr>
				<tr><td colspan="2" style="color: #aaaaaa;"><b>Офис в Алматы</b> ул. Абылай Хана 56</td></tr>
				<tr><td style="color: #aaaaaa;"><b>Тел.</b> 8(727) 273-84-82&nbsp&nbsp&nbsp&nbsp&nbsp</td><td style="color: #aaaaaa;"><b>Факс</b> 8(727) 273-84-82</td></tr>		
			</table>

			<table style="margin-bottom: 5px;">
				<tr><td colspan="2" style="color: #aaaaaa;"><b>Офис в Астане</b> пр. Туран 9</td></tr>
				<tr><td style="color: #aaaaaa;"><b>Тел.</b> 8(727) 273-84-82&nbsp&nbsp&nbsp&nbsp&nbsp</td><td style="color: #aaaaaa;"><b>Факс</b> 8(727) 273-84-82</td></tr>
			</table>
			<table>
				<tr><td style="color: #aaaaaa;"><b>Эл. почта:</b> info@techcentre.kz</td></tr>
				<tr><td style="color: #aaaaaa;"><b>ICQ:</b> 614700692</td></tr>
			</table>
		</div>
		<div class="col-md-5">
			<table>
				<div class="text-left" style="font-size: 18px; color: #aaaaaa;">Интернет-магазин "Техцентр"</div>	
				<hr>
				<tr><td style="color: #676767;">В интернет-магазине "Техцентр" вы можете приобрести принтеры, сканеры, мфу, шредеры, ламинаторы, переплётные машины и другую оргтехнику, а также расходные материалы, бумагу и картриджи для принтеров от компаний Xerox, Konica и Mondi. Вы можете заказать доставку или забрать товар самовывозом. На сайте всегда указаны актуальные цены.</td></tr>
			</table>
		</div>
	</div>

	</div>
</footer>