
<br/>
	<table class="table table-hover table-inverse">
		<tr>
			<td><a href="/printers">Принтеры</a></td>
		</tr>
		<tr>
			<td><a href="/mfu">МФУ</a></td>
		</tr>
		<tr>
			<td><a href="/scanners">Сканеры</a></td>
		</tr>
		<tr>
			<td><a href="/paper">Бумага</a></td>
		</tr>
		<tr>
			<td><a href="/cartridges">Картриджи</a></td>
		</tr>
		<tr>
			<td><a href="/shredders">Шредеры</a></td>
		</tr>
		<tr>
			<td><a href="/laminators">Ламинаторы</a></td>
		</tr>
		<tr>
			<td><a href="/bookbinders">Переплётные машины</a></td>
		</tr>	
		<tr>
			<td><a href="/other">Расходные материалы</a></td>
		</tr>
	</table>