<div class="form-group">
	<input class="form-control" tabindex="1" placeholder="Номер телефона" type="text" pattern="^\d{10}$" data-error="Неверный номер, убедитесь, что ввели последние 10 цифр номера" name="number"/>
	<div class="help-block with-errors"></div>
</div>